*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: darkred;
  min-height: 100vh;
  border: 10px solid #cbcbcb;
}
.content{
  max-width: 900px;
  margin: 0 auto;
}
.top_section{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  align-items: flex-end;
}
.top_section h4{
  text-align: end;
  font-size: 20px;
  color: gold;
}
.top_section h1{
  font-size: 30px;
  font-weight: bold;
  color: goldenrod;
  text-transform: uppercase;
}
.image_container{
  border-radius: 50%;
  overflow: hidden;
}
.image_container,img{
  width: 300px;
  height: 320px;
}
.about_section{
  margin-top: 50px;
}
.about_section h2{
  color: goldenrod;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about_section p{
  color: gold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
}
.early_life{
  margin-top: 50px;
}
.early_life h2{
  color: goldenrod;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.early_life p{
  color: gold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
}
.image_container2,img{
  width: 300px;
  height: 320px;
}
.image_container2{
  border-radius: 20%;
  overflow: hidden;
}
.revolutionary_life{
  margin-top: 50px;
}
.revolutionary_life h2{
  color: goldenrod;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.revolutionary_life p{
  color: gold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
}
.jhasi{
  margin-top: 50px;
}
.jhasi h2{
  color: goldenrod;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.jhasi p{
  color: gold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
}
.bhagat{
  margin-top: 50px;
}
.bhagat h2{
  color: goldenrod;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.bhagat p{
  color: gold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
}
.martyrdom{
  margin-top: 50px;
}
.martyrdom h2{
  color: goldenrod;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.martyrdom p{
  color: gold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
}
.slogans{
  margin: 50px 0;
}
.slogans h3{
  color: gold;
  margin-bottom: 20px;
}
.slogans ul{
  color: gold;
  margin-left: 50px;
}
.slogans li{
  color: gold;
  margin-bottom: 15px;
}
.copyright{
  font-size: 14px;
}
.copyright{
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #2b2b2b;
  font-weight: 300;margin-top: 20px;
}
.copyright i{
  color: #ff004f;
}